.login_body {
    width: 80%;
    margin: auto;
    background-color: #506070;
    background-size: cover;
    color: white;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 1fr;
}

.box {
    width: 35%;
    height: 30px;
    font-size: 25px;
    color: white;
    margin-left: 30%;
    color: black;
}

.label_txt {
    margin-left: 40%;
}

.login_box {
    border: .5px solid white;
    grid-row: 3/4;
    grid-column: 2/3;
}

.login_box div {
    margin-top: 15%;
}

.logo {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: green;
}

.logo h3 {
    margin-left: 45%;
    font-size: 50px;
    margin-top: 20px;
}

.footer {
    grid-column: 1/-1;
    grid-row: 5/6;
    color: black;
    background-color: hotpink;
    text-align: center;
}